.header {
  // header top ----------------------
  .header__top {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
  }
  .header__adress {
    margin-right: 20px;
    margin-left: 200px;
  }
  .header__adress--link {
    display: flex;
    align-items: center;
    font-family: "Futura 500";
    color: #333333;
    text-decoration: none;
    line-height: 18px;
    font-size: 14px;
    font-family: "Futura 500";
  }
  &__adress--link:hover {
    color: #ffbd54;
    opacity: 0.8;
  }
  &__adress--link:active {
    color: #333333;
    opacity: 0.6;
  }
  &__adress--link::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-right: 9px;
  }

  .header__link-1 {
    display: flex;
    align-items: center;
    font-family: "Futura 500";
    color: #333333;
    margin-right: 22px;
    text-decoration: none;
    font-size: 14px;
  }
  &__link-1:hover {
    color: #ffbd54;
    opacity: 0.8;
  }
  &__link-1:active {
    color: #333333;
    opacity: 0.6;
  }
  &__link-1::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/phone.svg");
    background-repeat: no-repeat;
    margin-right: 2px;
    top: 19px;
    left: 462px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .header__link-2 {
    position: relative;
    font-family: "Futura 500";
    color: #333333;
    text-decoration: none;
    margin-right: 22px;
    font-size: 14px;
  }
  &__link-2:hover {
    color: #ffbd54;
    opacity: 0.8;
  }
  &__link-2:active {
    color: #333333;
    opacity: 0.6;
  }
  &__link-2::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/dotted.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    right: 106px;
    box-sizing: border-box;
  }
  &__link-2::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url("../images/dotted.svg");
    background-repeat: no-repeat;
    top: 9px;
    left: 120px;
    box-sizing: border-box;
  }
  .header__link-3 {
    font-family: "Futura 500";
    color: #333333;
    text-decoration: none;
    margin-right: 98px;
    font-size: 14px;
  }
  &__link-3:hover {
    color: #ffbd54;
    opacity: 0.8;
  }
  &__link-3:active {
    color: #333333;
    opacity: 0.6;
  }
  .header__time {
    display: flex;
    align-items: center;
    font-family: "Futura 500";
    margin: 0px;
    padding: 0px;
    margin-right: 17px;
    font-size: 14px;
  }
  &__time::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/time.svg");
    background-repeat: no-repeat;
    margin-right: 7px;
  }
  .header__time-2 {
    font-family: "Futura 500";
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    font-size: 14px;
  }
  // header-top-finished-----------------------------------
  // header-bottom-start
  .header__bottom {
    background: #ffffff;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    padding: 20px 0px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  .header__nav {
  }
  .header__logo {
    position: absolute;
    top: -15px;
    left: 0px;
  }
  &__logo:hover {
    opacity: 0.8;
  }
  &__logo:active {
    opacity: 0.6;
  }
  .header__list {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
  .header__item {
    list-style: none;
  }
  .header__item:nth-child(1) {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 148px;
    position: relative;
  }
  .header__item:nth-child(1)::before {
    content: "";
    left: 20px;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/fish-header.svg");
    background-repeat: no-repeat;
  }
  .header__link {
    text-decoration: none;
    color: #333333;
    line-height: 21px;
    font-family: "Futura 500";
    margin-left: 56px;
  }
  &__link:hover {
    border-bottom: solid 4px #f4ffad;
  }
  &__link:active {
    color: #333333;
    border-bottom: solid 4px #f4ffad;
    opacity: 0.6;
  }

  .header__question {
    font-family: "Futura 500";
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333333;
  }
  &__question:hover {
    border-bottom: solid 4px #f4ffad;
  }
  &__question:active {
    color: #333333;
    opacity: 0.6;
    border-bottom: solid 4px #f4ffad;
  }
  &__question::before {
    margin-right: 10px;
    content: "";
    left: 20px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../images/lapa-header.svg");
    background-repeat: no-repeat;
  }
}
